@media screen and (max-width: 1100px){
    .nav{
        height: 70px !important;
        width: auto !important;
    }
    
    .nav_logo{
        margin-left: 10px !important;
    }

    .nav_menu > ul{
        margin-left: -80px !important;
    }
   

    .main{
        flex-direction: column !important;
        align-items: center;
        margin-top: 150px !important;
    }

    .main_right{
        flex-direction: column-reverse !important;
    }

    .main_media {
        margin-left: 90% !important;
    }

    .main_movie{
        position: relative;
        margin-top: 45%;
    }

    .main_movie > img{
        width: 500px !important;
    }

    .team_icon{
        margin-top: -1000px !important;
        margin-bottom: 500px;
        margin-right: -20px !important;
    }

    .team > h6{
        margin-top: 700px !important;
    }

    .contact{
        margin-top: 600px;
    }

    .content_footer_center{
       margin-right: -130px !important;
    }

    .content_footer > img{
        margin-right: 90px !important;
    }

    .content_footer > button{
        width: 170px !important;
        margin-right: -20px;
    }
    /* slide */
    .slide{
        text-align: center;
      }
      .slide > input{
        display: inline !important;
      }
      
      .slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
      .slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
        
        .slide-show{
          overflow: hidden;
        }

        .card_one{
            margin-left: 20px;
        }
        
        .slides-list{
          --selected-item: 0;
          --total-items: 4;
          list-style-type: none;
          margin: 30px 0 !important;
          padding: 0;
          position: relative;
          left: calc(var(--selected-item) * -50%);
          width: calc(var(--total-items) * 10%);
          height: 500px;
          transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
          
          display: grid;
          grid-auto-flow: column;
          grid-auto-columns: 1fr;
        }

        

   
}

@media screen and (max-width: 680px){
    body{
        height: 900px !important;
    }

    .nav_menu > ul{
        margin-left: -150px !important;
    }

    .nav_menu > ul > a{
        margin-left: 30px !important;
    }

    .main_input{
        flex-direction: column !important;
        align-items: center;
    }

    .main_input > input{
        width: 300px !important;
    }

    .main_text{
        font-size: 1.7rem !important;
        margin-top: -90px !important;
        margin: 10px;
    }

    .email_label > label{
        margin-left: 25px;
    }

    .main_input > .btn{
        margin-left: 0 !important;
        margin-top: 10px;
        width: 85% !important;
    }

    .main_right{
        margin-top: -50px;
    }
    .main_media{
        margin-left: 300px !important;
    }

    .team_icon{
        margin-top: -750px !important;
    }

    .team > h6{
        margin-top: -70px !important;
    }

    .main_movie > img{
        width: 20%;
        margin: 18px;
        margin-top: -20px;
    }

    .main_movie > img{
        width: 90% !important;
    }

    .contact{
        margin-top: 360px !important;
    }
    .box_form{
        width: 100% !important;
    }
    .box_form_inputs > input{
        width: 280px !important;
        margin-left: 15px !important;
    }
    .box_checkbox{
        margin-left: 15px !important;
    }
    .box_form_inputs > button{
        margin-left: 15px !important;
    }

   .footer{
       height: 247px !important;
   }

    .content_footer{
        display: block !important;
        flex-direction: row !important;
        margin: 0 !important;
    }
    .content_footer > img{
        width: 55px;
    }

    .content_footer_center{
        margin: 0 !important;
        margin-top: 20px !important;
    }

    .content_footer_center > a{
        margin: 80px 50px !important;
    }
    .content_footer > button{
        width: 220px !important;
        margin: 40px 40px !important;
    }

   

   

    /* modal */
    

   /* slide */
    .slide{
        text-align: center;
       
      }
      .slide > input{
        display: inline !important;
      }
      
      .slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
      .slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
        
        .slide-show{
          overflow: hidden;
          margin: -80px;
          margin-top: 10px;
        }

        .slides-list{
         
          left: calc(var(--selected-item) * -100%) !important;
          width: calc(var(--total-items) * 30%) !important;
          transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
          
        }

        .cards{
            margin-left: -35px !important;
        }
        .card_one{
            margin-right: -50px !important;
        }

        .card_one > p{
            width: 170px;
        }
}