* {
  margin: 0;
}

.all {
  background-image: url('./img/BG.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1315px;
  overflow-y: hidden;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: white;
  height: 66px;
  display: flex;
  justify-content: space-between;
}

.nav_logo {
  font-family: sen;
  line-height: 65px;
  margin-left: 136px;
  color: #263396;
  width: 96px;
  height: 39px;
  font-size: 25px;
  letter-spacing: 0.6px;
}

.nav_menu > ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 217px;
  height: 19px;
  left: 73%;
  top: 24px;
}
.nav_menu > ul > a {
  position: static;
  height: 19px;
  left: 0%;
  right: 85.71%;
  top: calc(50% - 19px / 2);
  list-style: none;
  font-family: Sen;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1c2085;
  order: 1;
  align-self: center;
  margin-left: 42px;
  text-decoration: none;
}

.nav_menu > ul > a:hover {
  border-bottom: 2px solid #1c2085;
}

/* start main */
.main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12%;
  padding: 10px;
}

.main_text {
  font-family: sen;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.1px;
  color: #fff;
  line-height: 52px;
  margin-top: 70px;
}

.main_movie > img {
  width: 500px;
  border-radius: 5px;
  padding-left: 50px;
}

/* input subscribe */
.email {
  margin-left: 100px;
}

.email_label > label {
  height: 26px;
  left: 0%;
  right: 0%;
  top: calc(50% - 26px / 2 + 3px);

  font-family: Sen;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.7;
}

.email_input > input {
  width: 480px;
  height: 38px;
  border-radius: 25px;
  border: none;
}

.email_input > button {
  width: 154px;
  height: 42px;
  margin-left: -70px;
  border: none;
  background-color: #38a5db;
  color: #fff;
  border-radius: 25px;
  font-family: sen;
  font-size: 18px;
}
