* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

.all {
  background-image: url('./img/BG.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1315px;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: white;
  height: 66px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  box-shadow: 0px 0px 10px rgb(143, 143, 143);
}

.nav_logo {
  line-height: 64px;
  margin-left: 126px;
  width: 60px !important;
}

.nav_menu > ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 217px;
  height: 19px;
  left: 73%;
  top: 24px;
}
.nav_menu > ul > a {
  position: static;
  height: 19px;
  left: 0%;
  right: 85.71%;
  top: calc(50% - 19px / 2);
  list-style: none;
  font-family: Sen;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1c2085;
  order: 1;
  align-self: center;
  margin-left: 42px;
  text-decoration: none;
}

.nav_menu > ul > a:hover {
  border-bottom: 2px solid #1c2085;
  max-height: 18px;
}

/* start main */
.main {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  top: 11.5%;
  margin-left: 4%;
}

.main_text {
  font-family: sen;
  font-weight: 600;
  font-size: 38px;
  letter-spacing: 0.2px;
  color: #fff;
  line-height: 52px;
  margin-top: 50px;
  padding: 18px;
}
/* movie modal */
.main_movie > img {
  width: 600px;
  border-radius: 5px;
  padding-left: 140px;
}

/* input subscribe */
.email {
  position: relative;
  margin-left: 10%;
  margin-top: 8%;
}

.email_label > label {
  height: 26px;
  margin-top: 50px;
  font-family: Sen;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.7;
}

.email_input > input {
  width: 480px;
  height: 42px;
  max-height: 42px;
  border-radius: 25px;
  border: none;
  margin-top: -5px;
}

.email_input > input::placeholder {
  font-family: Sen;
  font-size: 17px;
  line-height: 20px;
  color: #576677;
  text-align: center;
}

.btn {
  width: 12% !important;
  margin-left: -80px !important;
  color: #fff;
  background: #38a5db;
  border-radius: 25px;
  height: 42px !important;
  /* max-height: 44px !important; */
  /* padding: 10px; */
}

/* start team */
.team {
  margin: 385px 80px 0 80px;
  height: 700px;
}

.team_icon {
  color: rgb(255, 255, 255);
  margin-left: 48%;
  margin-top: -260px;
  margin-bottom: 150px;
  /* box-sizing: border-box; */
}

.twiter {
  width: 40px;
  float: right;
  margin-top: -150px;
}
.face {
  width: 40px;
  float: right;
  margin-top: -100px;
}

.team > h6 {
  font-family: sen;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 12px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.card_one {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 215px;
  height: 266px;
}

.card_one  > img {
  align-content: center;
  border-radius: 80px;
}

.card_one > h3 {
  color: #38a5db;
  font-family: sen;
  font-size: 24px;
  line-height: 34px;
  margin-top: 8px;
}

.card_one > h6 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  padding: 10px;

  text-align: center;
  letter-spacing: 0.26px;

  color: #011226;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.card_one > p {
  height: 96px;
  left: 0%;
  right: 0%;
  top: calc(50% - 96px / 2 + 86px);

  font-family: Sen;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  color: #45515f;
}

.icons {
  display: flex;
  padding: 15px;
}

.faceLink {
  width: 43px;
  height: 23px;
  box-shadow: 0px 0px 2px black;
  border-radius: 3px;
  margin: 5px;
}
.faceLink > img {
  width: 7px;
  margin: 5px 18px;
}

.linkedinLink {
  width: 43px;
  height: 23px;
  box-shadow: 0px 0px 2px black;
  border-radius: 3px;
  margin: 5px;
}
.linkedinLink > img {
  width: 14px;
  margin: 4px 14px;
}

/* contact */
.contact {
  width: 100%;
  height: 750px;
  background-color: #252b42;
}

.contact > h6 {
  font-family: sen;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 12px;
  text-align: center;
  color: #fff;
  padding-top: 100px;
}
.contact_text {
  font-family: Sen;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  padding: 26px;
}

.box_form {
  display: flex;
  flex-direction: column;
  width: 401px;
  height: 370px;
  background-color: #4250bf;
  border-radius: 13px;
  text-align: center;
  margin: 50px auto;
}

.box_form_inputs {
  position: absolute;
  margin-top: 60px;
}

.box_form_inputs > input {
  display: flex;
  flex-direction: column;
  width: 319px;
  height: 46px;
  margin-left: 41px;
  border-radius: 25px;
  border: none;
  margin-top: 24px;
  text-align: center;
}

.box_checkbox {
  display: flex;
  margin-left: 41px;
  margin-top: 37px;
}
.box_checkbox > input {
  width: 24px;
  height: 24px;
  left: 4px;
  top: 13px;
  margin-right: 5px;
}

.btnForm {
  width: 95px;
  height: 46px;
  border: none;
  float: left;
  margin: 15px 30px;
  background: #38a5db;
  border-radius: 23px;
  font-family: sen;
  color: #fff;
  font-size: 1em;
}

/* footer */
.footer {
  width: 100%;
  margin-top: 900px;
  height: 200px;
  background: linear-gradient(
    180deg,
    #fafbff 0%,
    #eff1f9 41.68%,
    #e9ecf6 49.59%,
    #ced3e8 93.91%
  );
}

.content_footer {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.content_footer_center > p {
  height: 19px;

  font-family: Sen;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.32px;
  margin-bottom: 10px;

  color: #263396;
}
.content_footer_center > label {
  height: 24px;
  left: 36.88%;
  right: 37.43%;
  top: calc(50% - 24px / 2 + 1091px);

  font-family: Sen;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.4px;
  text-decoration-line: underline;

  color: #0f81ff;
}

.content_footer > img {
  margin-right: 260px;
}

.content_footer > button {
  width: 220px;
  height: 46px;
  font-family: sen;
  color: #fff;
  background: #38a5db;
  box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
  border-radius: 23px;
  border: none;
  margin-left: 140px;
}

.content_info {
  display: flex;
  justify-content: center;
}
.content_info > p {
  width: 200px;
  height: 24px;
  font-family: Sen;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;

  color: #45515f;
  border: 2px solid #9ca4c7;
  border-bottom: none;
  border-top: none;
  border-left: none;
}

.lastP {
  border-right: none !important;
}

/* modal css */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  /* padding: 20px; */
  border: 1px solid #888;
  width: 630px;
  height: 644px;
  border-radius: 20px;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.25);
}

.modal-content > h3{
 
left: 28.12%;
right: 28.12%;
top: 34.5%;
bottom: 64.12%;
font-family: Sen;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 34px;
/* identical to box height, or 85% */
text-align: center;
color: #38A5DB;
}

.modal-content > h6{
left: 30.21%;
right: 30.21%;
bottom: 62.41%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
/* identical to box height */
text-align: center;
letter-spacing: 0.26px;
color: #011226;
mix-blend-mode: normal;
opacity: 0.5;
}

.content_modal{
  position: absolute;
  width: 90%;
height: 500px;
margin-left: 5%;
top: 100px;

font-family: Sen;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #45515F;
overflow: auto;
text-indent: unset;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
